<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Doma{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>   

            <h1>Dobrodošli na moji domači strani!</h1>
        <div>
            <a href="/">Domov</a>
            <a href="O-meni">O meni</a>
            <a href="Moji-projekti">Moji projekti</a>
            <a href="Blog">Blog</a>
            <a href="Kontakt">Kontakt</a>
        </div>

       <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

        <h3 style="text-align: center">Semper paratus</h3>

        <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex </p>     



        {% extends "base.html" %}

        {% block title %}O meni{% endblock title %}

        {% block specifika %}
            <h1>Wellcome to My Homepage!</h1>
        
            <h3>Mladost</h3>
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human.</p>

            <h3>Kaj delam, ko ne delam</h3>
            <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim.</p>

            <h3>Top filmi</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <h3>Top številke</h3>
            <ul>
                <li>12</li>
                <li>18</li>
                <li>315181645456189984</li>
            </ul>
        
        
        
        {% endblock specifika %}


        {% extends "Base.html" %}

        {% block title %}Moji projekti{% endblock title %}

        {% block specifika2 %}
            <h1>Moji projekti!</h1>
            
            <h3>Projekt Z</h3>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>

            <h3>Projekt 0R</h3>

            <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>

            <h3>Projekt Ant</h3>

            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.</p>
        {% endblock specifika2 %}


        {% extends "Base.html" %}

        {% block title %}Blog{% endblock title %}

        {% block specifika3 %}
            <h1>Moj Blog</h1>        
        
            <h3>Boj za žogo</h3>
    
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

            <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath...</p>
        {% endblock specifika3 %}


        {% extends "Base.html" %}

        {% block title %}Kontakt{% endblock title %}

        {% block specifika4 %}
            <h1>Kako me kontaktirati</h1>

            <h2>e-mail:</h2>
            <p>kont@akt.com</p>

            <h2>telefonska številka:</h2>
            <p>555-522-255</p>

            <h2>facebook:</h2>
            <p>mojkontakt.fb.com</p>

            <h2>twitter:</h2>
            <p>twitkontakt.twitter.com</p>

            <h2>morse code:</h2>
            <p>-.- --- -. - .- -.- - / ---... -.--.-</p>
        {% endblock specifika4 %}
    
    </body>
</html>