{% extends "based.html" %}

{% block title %}O meni{% endblock title %}

{% block specifika %}
    <h1>O meni</h1>
        
    <h3>Mladost</h3>
    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human.</p>

    <h3>Kaj delam, ko ne delam</h3>
    <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim.</p>

    <h3>Top filmi</h3>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <h3>Top številke</h3>
    <ul>
        <li>12</li>
        <li>18</li>
        <li>315181645456189984</li>
    </ul>

{% endblock specifika %}